@media (max-width: 767px)
  .center
    padding-left: 16px
    padding-right: 16px

  .header__links
    display: none

  .header__links_mob

    background-color: #999
    position: absolute
    width: 100%
    left: 0
    top: 0
    height: 48px
    display: flex
    justify-content: center

  .nav
    width: 100%
    min-height: calc ( 100vh - #{$heightHeader})
    padding-top: 64px

  .nav__close
    display: none

  .promo__left
    display: none

  .promo__right
    height: 363px
    width: 100%
    display: flex
    align-items: center
    justify-content: center

  .promo__content
    margin-top: 0

  .sale
    padding-top: 64px
    padding-bottom: 64px

  .sale__box
    flex-direction: column
    margin-bottom: 32px

  .sale__item:not(:last-child)
    margin-right: 0
    margin-bottom: 32px

  .sale__item__big
    height: 111px

  .sale__img
    object-position: center
    object-fit: cover

  .button
    margin-top: 41px

  .footer__information
    gap: 59px

  .bottom
    flex-direction: column-reverse
    align-items: center

  .icon
    margin-top: 43px
    margin-bottom: 0

  .top__heading
    flex-wrap: wrap
    justify-content: center

  .filter
    display: flex
    justify-content: space-between

  .filter__main
    width: 100%

  .filter__main[open]
    width: 320px

  .fil__name
      display: none

  .filter__group
    position: relative
    height: 48px
    width: auto

  .lines
    transform: scale(2.5)

  .param
    gap: 24px

  .param_heading
    font-size: 12px
    line-height: 14px

  .param__box
    width: 65px

  .filter
    padding-top: 24px
    padding-bottom: 32px

  .arrow
    padding-left: 5px

  #switcher:checked ~ .nav
    right: 0
    display: block
    z-index: 2

  .product__photo
    padding-top: 0
    padding-bottom: 0

  .collection__line
    width: 50%

  .collection_price
    margin-bottom: 32px

  .collection__text
    width: 89%

  .choose__heading
    font-size: 10px
    line-height: 12px

  .item
    padding-bottom: 5px

  .item__text
    font-size: 10px
    line-height: 12px

  .choose
    padding-top: 49px

  .product-box-product
    margin-top: 64px

  .footer__content
    width: 100%

  .link
    font-size: 14px

  .shopping__title
    font-size: 16px
    line-height: 19px

  .shopping__li
    font-size: 14px
    line-height: 17px
    margin-bottom: 4px

  .shopping__quantity
    font-size: 10px
    line-height: 12px
    width: 24px
    height: 15px
    vertical-align: middle


  .shopping__element_cart
    width: 144px
    height: 188px

  .shopping__block
    padding-bottom: 26px

  .shopping__box
    padding-top: 13px
    padding-left: 17px

  .shopping__product
    gap: 32px

  .shopping__dollar
    line-height: 17px
    font-size: 14px

  .shopping__button
    margin-bottom: 0

  .shopping__price
    margin-top: 48px
    margin-bottom: 96px

  .shopping__cart
    padding: 0
    font-size: 12px
    line-height: 14px
    text-transform: none
    padding-top: 9px
    padding-bottom: 9px
    width: 50%
    text-align: center

  .shopping__buttons
    gap: 10px
    margin-top: 0
    margin-bottom: 48px

  .shopping__registration
    gap: 0
    display: flex
    justify-content: center

  .button__checkout
    text-align: center
    padding: 15px 41px

  .center_media
    padding-left: 8px
    padding-right: 8px

  .cross__svg
    width: 10px
    height: 10px

  .registration
    display: flex
    flex-direction: column
    padding-top: 40px

  .input__text_reg
    width: 100%
    box-sizing: border-box

  .registration__button
    margin-bottom: 40px

  .registration__heading
    font-weight: 300
    font-size: 16px
    line-height: 19px