
.title {
    font-size: 30px;
}

.choise_title {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.choise {
    font-size: 20px;

}
div{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.span {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}